<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="robot" default="drone1"/>
    <arg name="manager" default="$(arg robot)_driver_manager"/>
	<group ns="$(arg robot)">
		<!-- nodelet manager -->
		<node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" output="screen"/>
        <!-- sensors plugin -->
		<rosparam file="$(find ue4_ros_drivers)/config/node.yaml"/>
		<node pkg="nodelet" type="nodelet" name="left_camera" args="load us4_ros_drivers/ImageDriver $(arg manager)" output="screen"/>
		<node pkg="nodelet" type="nodelet" name="right_camera" args="load us4_ros_drivers/ImageDriver $(arg manager)" output="screen"/>
		<node pkg="nodelet" type="nodelet" name="depth_camera" args="load us4_ros_drivers/ImageDriver $(arg manager)" output="screen"/>
		<node pkg="nodelet" type="nodelet" name="imu" args="load us4_ros_drivers/ImuDriver $(arg manager)" output="screen"/>
		<node pkg="nodelet" type="nodelet" name="lidar" args="load us4_ros_drivers/LidarDriver $(arg manager)" output="screen"/>
		<node pkg="nodelet" type="nodelet" name="att_controller" args="load us4_ros_drivers/ControlDriver $(arg manager)" output="screen"/>
		<node pkg="nodelet" type="nodelet" name="ground_truth" args="load us4_ros_drivers/GroundTruthDriver $(arg manager)" output="screen"/>
	</group>
</launch>